<%- include('../partes/head') %>

	<body>
		<%- include('../partes/header') %>
			<div class="Safra">
				<div class="fundo-cafe ">
					<h3 class="titulo-safras">Selecione a Safra</h3>

					<div class="form-group">
						<select id="safraSelect" name="safraSelect" class="custom-select">
							<option value="" selected disabled>Selecione uma Safra</option >
							<% safras.forEach(function(safra) { %>
								<option value="<%= safra.ano %>"><%= safra.ano%></option>
							  <% }) %>
						</select>
					</div>
				</div>
				<a href="/add_safra"><button class="btn-registrar-safra">Registrar Nova Safra</button></a>
			</div>

			<%- include('../partes/footer') %>
	</body>

	</html>